/* /styles/components/dialog.css */
@layer components {
   .dialog {
      position: fixed;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 10000;

      min-width: 300px;
      width: 90%;
      max-width: 520px;
      max-height: 92vh;

      overflow: hidden;
      overflow-y: auto;

      background-color: var(--fill-1);
      border: 1px solid var(--fill-4);
      border-radius: 16px;
      box-shadow: 0 12px 36px rgba(0, 0, 0, 0.15);
   }

   .dialog .utility-header {
      background-color: var(--fill-1);
      position: sticky;
      top: 0;
      align-items: center;
      border-bottom: 1px solid var(--fill-4);
      display: flex;
      gap: 16px;
      padding: 24px;
      z-index: 1;
   }

   .dialog .body {
      padding: 32px;
      z-index: 0;
      display: flex;
      flex-direction: column;
      gap: 32px;
   }

   .dialog .header h1 {
      flex: 1;
      min-width: fit-content;
      text-align: center;
   }

   .dialog form,
   .dialog .field {
      display: grid;
      gap: 12px;
   }

   .dialog label {
      font-size: 16px;
      color: var(--text);
   }

   .dialog .row,
   .dialog .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 12px;
      align-items: center;
   }

   .dialog .row > input {
      width: 100%;
   }
}
