/* /styles/components/reactflow.edge.css */
@layer components {
   .rf-edge {
      stroke: var(--border);
      stroke-width: 2px;
      pointer-events: none;
   }

   .react-flow__handle {
      width: 4px;
      height: 4px;
      background-color: var(--text);
      border: none;
      border-radius: 50%;
      pointer-events: none;
   }
}
